.body-container{
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* justify-content: center; */
    align-items: center;
    color: white;
    /* background: rgb(0,159,231);
    background: linear-gradient(326deg, #930de0 0%, #009fe7 15%, #00dedf 50%, #9c00e0 100%); */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body-container::-webkit-scrollbar {
    display: none;
  }