.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 15vh;
    z-index: 100;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Roboto Mono', monospace;
}

.brand-icon{
    width: 35px;
    height: 35px;
    margin-right: 0.5rem;
}

.brand-text{
    font-size: 1.5rem;
    font-weight: bold;
    /* font-family: 'Mulish', sans-serif; */
}

.navbar-container a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-nav .nav-link.active,.navbar-nav .nav-link.show{
    color: #009fe7;
}

.navbar-container a:hover{
    color: #009fe7;
}

.nav-link:hover, .nav-link:focus{
    color: white;
}

.dropdown-menu a{
    color: black;
}